<%= form_for ([@portfolio, @assignment]) do |form| %>
  <% if assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <%=form.label "Pick which portfolio"%>
     <%= form.select(:portfolio_id) do %>
     <%= options_from_collection_for_select(Portfolio.all, :id, :name, :selected => @assignment.portfolio_id) %>
     <%end%>

  </div>

  <div class="field">
    <%= form.label "Assign a stock" %>
    <%= form.select(:stock_id) do%>
    <%= options_from_collection_for_select(Stock.all, :id, :ticker, :selected => @assignment.stock_id) %>
     <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
